<%= form_with(model: department) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :department_name %>
    <%= form.text_field :department_name %>
  </div>

  <div class="actions form-control">
    <%= form.submit %>
  </div>
<% end %>
