<p id="notice" ><%= notice %></p>

<h1><%=t('e.stalls') %> </h1>

<br>
<form method="GET" action="/stalls">
  <div class="form-floating mb-3">
    <input type="text" name="filter" class="form-control" id="floatingInput"/>
    <label for="floatingInput">STALLS NAME</label>
  </div>
  <input type="submit" class="btn btn-primary" value=<%= t("g.search")%>   />
</form>
<br>

<table class="table table-hover table-bordered">
  <thead class="table-primary">
    <tr>
      <th><%= t('stall.stall_name') %></th>
      <th colspan="3"><%=t('e.options') %></th>
    </tr>
  </thead>

  <tbody>
    <% @stalls.each do |stall| %>
      <tr>
        <td><%= stall.stall_name %></td>

        <% if user_signed_in? %>
          <% if current_user.admin? %>
                
                    <td class="btn btn-info"><%= link_to t("g.show"), stall, class: "btn text-dark" %></td>
                    <td class="btn btn-info"><%= link_to t('g.edit'), edit_stall_path(stall) , class: "btn text-dark" %></td>
                    <td class="btn btn-info"><%= link_to t('g.destroy'), stall, class: "btn text-dark", method: :delete, data: { confirm: t("g.are_you_sure") } %></td>

          <% else %>
            <td><%= "NO TIENES ACCESO" %></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @stalls%>

<br>

<% if user_signed_in? %>
  <% if current_user.admin? %>
        <button type="button" class="btn btn-outline-secondary"><%= link_to t("e.new_stalls"), new_stall_path, class: "btn text-dark" %></button>
  <% end %>
<% end %>
