<%= form_with(model: branch_office) do |form| %>
  <% if branch_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(branch_office.errors.count, "error") %> prohibited this branch_office from being saved:</h2>

      <ul>
        <% branch_office.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions form-control" >
    <%= form.submit %>
  </div>
<% end %>
